<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Ķīmijas laboratorijas uzskaites sistēma</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');
    </style>

    <link rel='stylesheet' type='text/css' media='screen' href='../css/bootstrap.min.css'>
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"> -->
    <link rel='stylesheet' type='text/css' media='screen' href='../css/style.css'>
    <script src='main.js'></script>
</head>

<body>
    <div class="klus-home container-fluid h-100">
        <div class="klus-home row h-100">
            <!-- Man zināšanai. Priekšā rāda nevis ar h1, hr, h5 utt., bet gan viss ar DIV  -->
            <div class="klus-home-left-col col-sm-5 h-100">
                <h1 class="klus-fp-white">Esi sveicināts<br> ĶLUS</h1>
                <hr class="klus-white-line">
                <h5 class="klus-fp-white">Tavas laboratorijas uzskaites sistēma</h5>
                <img class="mx-auto d-block img-fluid fp-logo" src="../pictures/intro.svg">
            </div>

            <div class="klus-home-right-col col-sm-7">
                <a href="../index.html"><p>&ShortLeftArrow; Atpakaļ uz sākumlapu</p></a>
                <h1 class="klus-fp-white fp-blue-text left-text ">Pieslēgties</h1>
                <p class="fp-text">Ķīmijas laboratorijas uzskaites sistēmai</p>

                <form>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Lietotāja vārds</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ievdīt lietotājvārdu">
                      <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Parole</label>
                      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Ievadīt paroli">
                    </div>
                    <button type="submit" class="btn btn-primary">Pieslēgties</button>
                  </form>


                
                
                
                <hr>
                <p>Neesi reģistrēts? <a href="#">Izveido profilu.</a></p>


            </div>
            <div class="report-error">
                <button type="button" class="btn btn-danger">Ziņot par kļūdu</button>
            </div>
        </div>

</body>

</html>